/Library
/Temp
/obj
/Logs
*.sln
*.csproj
*.apk
*.aab
/xcode*
.DS_Store
SuperfineExample/Temp
SuperfineExample/Library
SuperfineExample/Logs
SuperfineExample/obj
SuperfineExample/UserSettings
SuperfineExample/.vs
SuperfineExample/.vsconfig