/Library
/Temp
/obj
/Logs
*.sln
*.csproj
*.apk
*.aab
*.zip
/xcode*
.DS_Store
SuperfineExample/Temp
SuperfineExample/Library
SuperfineExample/Logs
SuperfineExample/obj
SuperfineExample/.vs
SuperfineExample/.vsconfig